#
# {{ ansible_managed }}
#


############ GENERAL PARAMETERS #################
PidFile={{ zabbix_agent__pid_file }}

Include={{ zabbix_agent__conf_include_directory }}{{ '/*.conf' if zabbix_agent__version is version_compare(2.4, '>=') else '' }}
{% if zabbix_agent__userparameters_directory is defined %}
Include={{ zabbix_agent__userparameters_directory }}{{ '/*.conf' if zabbix_agent__version is version_compare(2.4, '>=') else '' }}
{% endif %}
{% for item in zabbix_agent__conf_includes %}
Include={{ item if zabbix_agent__version is version_compare(2.4, '>=') else item|replace('/*.conf','') }}
{% endfor %}

AllowRoot=0
{% if zabbix_agent__version is version_compare(2.4, '>=') %}
User={{ zabbix_agent__service_user }}
{% endif %}

{% if zabbix_agent__version is version_compare(3.0, '>=') %}
LogType={{ zabbix_agent__log_type }}
{% endif %}
LogFile={{ zabbix_agent__log_file }}
LogFileSize={{ zabbix_agent__log_size|int }}
DebugLevel={{zabbix_agent__debug_level }}

############ NETWORK PARAMETERS #################
ListenIP={{ zabbix_agent__listen_ip }}
ListenPort={{ zabbix_agent__listen_port|int }}
{% if zabbix_agent__source_ip is defined %}
SourceIP={{ zabbix_agent__source_ip }}
{% endif %}

##### Passive checks related
{% if zabbix_agent__server is defined %}
Server={{ zabbix_agent__server if zabbix_agent__server is string else zabbix_agent__server|join(',') }}
{% endif %}

##### Active checks related
{% if zabbix_agent__server_active is defined %}
ServerActive={{ zabbix_agent__server_active if zabbix_agent__server_active is string else zabbix_agent__server_active|join(',') }}
{% endif %}

Hostname={{ zabbix_agent__hostname }}
{% if zabbix_agent__hostname is not defined %}
HostnameItem={{ zabbix_agent__hostname_item }}
{% endif %}


############ PROCESSING PARAMETERS #################
Timeout={{ zabbix_agent__timeout }}

UnsafeUserParameters={{ zabbix_agent__unsafe_userparameters }}

EnableRemoteCommands={{ zabbix_agent__enable_remote_commands }}
LogRemoteCommands={{ zabbix_agent__log_remote_commands }}
